<body class="gridCuenta">
    <main class="mainIzq">
        <ul>
            <li *ngIf="cliente">Nombre de Usuario: {{cliente.usuario}}</li>
            <li *ngIf="cliente">Saldo: {{cliente.saldo}}€</li>
            <li *ngIf="cliente">Gestor: {{cliente.gestor.usuario}}</li>
        </ul>
    </main>
    <aside class="asideDer">
        <button class="mainButton">Cambiar contraseña</button>
        <button class="mainButton">Cambiar gestor</button>
    </aside>
    <footer class="footer">
        <button class="mainButton" routerLink="/pages/dashboard">Volver</button>
        <br>    
        <button class="mainButton">Contactar con gestor</button>
    </footer>
</body>