<body class="gridCuenta">
    <main class="mainIzq">
        <ul>
            <li>Nombre de Usuario: Miguelito</li>
            <li>Saldo: xxxxx.xx €</li>
            <li>Tipo de Usuario: Clinte</li>
        </ul>
    </main>
    <aside class="asideDer">
        <button class="mainButton">Cambiar contraseña</button>
        <button class="mainButton">Cambiar gestor</button>
    </aside>
    <footer class="footer">
        <button class="mainButton" routerLink="/pages/dashboard">Volver</button>
        <br>    
        <button class="mainButton">Contactar con gestor</button>
    </footer>
</body>