<body>
    <div class="gridBanco"></div>
    <main class="main">
        <input class="textNormal" type="text" placeholder="Destinatario">
        <br>
        <input class="textNormal" type="number" placeholder="Importe">
        <br>
        <input class="textNormal" type="text" placeholder="Concepto">
        <br>
        <button  class="mainButton">Enviar</button>
    </main>
    <footer class="footer">
        <button class="mainButton" routerLink="/pages/dashboard">Volver</button>
    </footer>
</body>